<nav class="navbar">
    <div class="logo" routerLink="/">
        <div class="logo-icon"><i class="fas fa-hand-peace"></i></div>
        <span class="logo-text">Srečajmo<span>se</span></span>
    </div>
    <div class="nav-buttons">
        @if (user) {
            <span class="user-greeting">Pozdravljen, {{ user.username }}!</span>
    
            @if (user.isAdmin) {
            <button class="btn-ghost" routerLink="/admin">Admin panel</button>
            }
            
            <button class="btn-secondary" routerLink="/logout">Odjava</button>
        } @else if (admin) {
            <span class="admin-badge">Admin</span>
            <button class="btn-ghost" routerLink="/admin">Admin panel</button>
            <button class="btn-secondary" routerLink="/logout">Odjava</button>
        } @else {
            <button class="btn-ghost" routerLink="/login">Prijava</button>
            <button class="btn-primary" routerLink="/register">Registracija</button>
        }
    </div>
</nav>